/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 header {
     margin-bottom: 10%
 }

.trContainer {
    display: inline-block;
    float: right;
    width: 30%;
}

.trContainer input[type=text] {
    width: 33%;
    padding: 5px 5px;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
    float: left;
    margin: 0px 5px;
}

.trContainer input[type=button], input[type=submit] {
    font:  11px Arial;
    text-decoration: none;
    background-color: #4CAF50;
    color: #FFFFFF;
    padding: 4px 12px 4px 12px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

.trContainer input[type=button]:hover, input[type=submit]:hover {
    background-color: #006400;
    color: #FFFFFF;
}